.about__me-inner,
.knowledge__intro{
    background-color: #4A32B9;
    width: 100%;
}

#nav__bar-item,
#nav__bar-item-2 {
    margin-top: 20px;
}

.text__item{
    font-size: 22px;
    margin: 0;
    color: white;
}

#text__item-2{
    margin: 0;
    font-size: 20px;
    color:white;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}

.text__main-item{
    color:white;
    font-family: "Helvetica",sans-serif;
    font-weight: bold;
    font-size: 72px;
}

.onTop__container{
   width: 60px;
   position: fixed;
   left: 2%;
   top: 88%;
   z-index: 20;
   opacity: 0.6;
}

.onTop__container:hover{
    opacity: 1;
}

.onTop{
   width: 100%;
   display: block;
}

.about__me-main{
    margin-top: 100px;
}

.text__main-item-2{
    color:white;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 24px;
}

#main__next{
    margin-top: 200px;
}



.me__photo{
    max-width: 100%;
    min-width: 300px;
}

#social{
    width: 100%;
    max-width: 75px;
}

.hobby{
    padding: 100px 0;
}

.knowledge__intro{
    padding: 100px 0;
}

#knowledge__text-item{
    color:white;
    font-family: "Helvetica",sans-serif;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 40px;
}

#knowledge__text-item-2{
    color:white;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 24px;
}

#knowledge__text-item-3{
    color:white;
    font-family: "Roboto",sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.knowledge__main{
    padding: 100px 0;
}


.prog__skill{
    display: flex;
    flex-wrap: wrap;
}

#skill__item{
    margin: 30px 0;
}

.dark__item-2{
    display: flex;
    justify-content: start;
    margin-top: 100px;
}

#dark__item{
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 0.2s;
}

.portfolio{
    background-color: #2A2543;
    padding: 100px 0;
}

#portfolio__text-item{
    font-size: 68px;
    font-family: "Open Sans" sans-serif;
    font-weight: 600;
    color: white;
}

#portfolio__text-item-2{
    font-size: 40px;
    font-family: "Open Sans" sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 50px;
}

.portfolio__item{
    display: flex;
    justify-content: space-between;
}

.portfolio__item-2{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

#portfolio__item-2-img{
    margin-top: 40px;
}

.portfolio__big-item{
    display: flex;
    justify-content: space-between;
}

.portfolio__item-3{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    justify-content: center;
    align-items: center;
}

.contact__information{
    padding-top: 200px;
}

.contact__me{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.contact__me-item-2{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.contact__item{
    color: #908888;
    font-size: 16px;
}

.contact__mail{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


@media (max-width: 1150px) {
    .text__main-item{
        font-size: 54px;
    }
    .text__main-item-2{
        font-size: 16px;
    }
}

@media (max-width: 768.98px) {
    .onTop__container{
        top: 45%;
    }
    #main__next{
        margin-top: 100px;
    }
    .text__main-item{
        font-size: 46px;
    }
    .text__main-item-2{
        font-size: 20px;
    }
    #knowledge__text-item{
        font-size: 46px;
    }
    #portfolio__text-item{
        font-size: 46px;
    } 
    #portfolio__text-item-2{
        font-size: 34px;
    }  
}


@media (max-width: 575.98px) {
    .onTop__container{
        top: 76%;
    }
    
    #nav__bar-item-2 {
        visibility: hidden;
    }
    .text__main-item{
        font-size: 32px;
    }
    .text__main-item-2{
        font-size: 14px;
    }
    #main__next{
        padding: 0;
    }
    .about__me-main{
        margin-top: 20px
    }

    .img-fluid{
        padding-top: 80px;
    }
    #main__next{
        margin-top: 50px;
    }
    #knowledge__text-item{
        font-size: 32px;
    }
    #knowledge__text-item-2{
        font-size: 24px;
    }

    #social{
        visibility: hidden;
    }
    .contact__me-item-2{
        flex-direction: column;
    }

    .contact__text-item{
        font-size: 32px;
    }

    #intro__text-bottom{
        margin-top: 100px;
    }

 }