.about__me-inner{
    background-color: #4A32B9;
    width: 100%;
}

#nav__bar{
    margin-top: 20px;
}
.text__item{
    font-size: 22px;
    margin: 0;
    color: white;
}
#text__item-2{
    margin: 0;
    font-size: 22px;
    padding: 0 20px;
    color:white;
    font-family: "Helvetica",sans-serif;
    font-weight: 500;
}

.text__main-item{
    color:white;
    font-family: "Helvetica",sans-serif;
    font-weight: bold;
    font-size: 72px;
}

.about__me-main{
    margin-top: 100px;
}

.text__main-item-2{
    color:white;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.me__photo{
    max-width: 100%;
}
